#body1{
    background-image: url("images/Pic_2019_01_27_15_15_57.jpg");
    background-size: 1000px, 1500px ;
    background-repeat:no-repeat;
    background-position:center 1px;
    text-align: justify;
    font-family: "charm", cursive;
    margin: "none";
    background-color:rgb(0, 0, 0);
}
 
a {
    text-decoration:none;
}
body{
     background-color:rgb(0, 0, 0);
 }   

#menu{
    margin: 10px;
    display: flex;
    flex-direction: row-reverse;
    width:80%;
    
}
.item{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding:5px;
    margin: 10px;
    width:80px;
    text-align: center;
    font-weight: 10;
    background-color:rgb(0, 0, 0);
    border-radius:10px;
    text-transform: capitalize;
    
}
.title1{
    display: inline;  
    color: rgb(0, 0, 0)
}

.title1:hover{
    color: rgb(0, 255, 0);
}
.title2{
    display: inline;  
    color: rgb(255, 255, 255)
}

.title2:hover{
    color: rgb(0, 255, 0);
}
h2 {
    display: inline;
    color: white
}

.clinks:link{
    font-size:small;
    color: rgb(8, 0, 124);
}
.clinks:visited{
    color:rgb(64, 0, 124)
}
h2:hover{
    color: #005c00;
}

p{
    color:rgb(255, 255, 255)
}
.myimg{
    width:200px;
    border:10px solid black;
    border-radius:10px;
}

@keyframes red-to-black{
    0%{ font-size:0px;
        color: red;
        
    }
    12%{
        font-size:large;
        color:green;
        transform: translate(0px,0px)
    }
    25%{font-size:xx-large;
        color: yellow;
        transform: translate(10px,0px);
    }
    50%{
        color: black;
        transform: translate(10px,10px);
    }
    75%{
        color:blueviolet;
        transform: translate(0px,10px)
    }
    100%{
        color:red;
        transform: translate(0px,0px)
    }
   }
.datline{
    font-size: xx-large;
    animation-name:red-to-black;
    animation-duration: 2s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
    animation-direction: linear;
}
.tlinks:link{
    color: rgb(0, 119, 128);
}
.tlinks:visited{
    color:rgb(0, 124, 128)
}
p{
    font-size:large;
}
